 @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: 'Josefin Sans', sans-serif;
        }

        body{
            background-color: #f3f5f9;
        }

        .wrapper{
            display: flex;
            position: relative;
        }

        .wrapper .sidebar{
            width: 290px;
            height: 100%;
            background: #0c2941;
            padding: 30px 0px;
            position: fixed;
        }

        .wrapper .sidebar h2{
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .wrapper .sidebar ul li{
            padding: 25px;
            font-size: 19px;
            border-bottom: 1px solid #bdb8d7;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
        }

        .wrapper .sidebar ul li a{
            color: #bdb8d7;
            display: block;
        }

        .wrapper .sidebar ul li a .fas{
            width: 40px;
        }

        .wrapper .sidebar ul li:hover{
            background-color: #78baf1;
        }

        .wrapper .sidebar ul li:hover a{
            color: #fff;
        }

        .wrapper .sidebar .social_media{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

        .wrapper .sidebar .social_media a{
            display: block;
            width: 40px;
            background: #63b4ea;
            height: 40px;
            line-height: 45px;
            text-align: center;
            margin: 0 5px;
            color: #bdb8d7;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .wrapper .main_content{
            width: 100%;
            margin-left: 200px;
        }

        .wrapper .main_content .header{
            padding: 20px;
            background: #fff;
            color: #717171;
            border-bottom: 1px solid #e0e4e8;
        }

        .wrapper .main_content .info{
            margin: 20px;
            color: #717171;
            line-height: 25px;
        }

        .wrapper .main_content .info div{
            margin-bottom: 20px;
        }

        @media (max-height: 500px){
            .social_media{
                display: none !important;
            }
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Quicksand", sans-serif;
        }

        html {
            font-size: 62.5%;
        }

        .container {

            width: 100%;
            height: 100vh;
            background-color: #fafbfc;
            color: #eee;
            display: flex;
            justify-content: right;
            align-items: center;

        }
        .profile {
            align-items: center;
            color: #0c2941;
        }

        .calendar {
            width: 40rem;
            height: 40rem;

            background-color: #a2cbd6;
            box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
        }

        .month {
            width: 100%;
            height: 12rem;
            background-color: #073a5d;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            text-align: center;
            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        }

        .month i {
            font-size: 2.5rem;
            cursor: pointer;
        }

        .month h1 {
            font-size: 3rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            margin-bottom: 1rem;
        }

        .month p {
            font-size: 1.6rem;
        }

        .weekdays {
            width: 100%;
            height: 5rem;
            padding: 0 0.4rem;
            display: flex;
            align-items: center;
        }

        .weekdays div {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            width: calc(44.2rem / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        }

        .days {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 0.2rem;
        }

        .days div {
            font-size: 1.4rem;
            margin: 0.3rem;
            width: calc(40.2rem / 7);
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            transition: background-color 0.2s;
        }

        .days div:hover:not(.today) {
            background-color: #262626;
            border: 0.2rem solid #777;
            cursor: pointer;
        }

        .prev-date,
        .next-date {
            opacity: 0.5;
        }

        .today {
            background-color: #090909;
        }
        div.profile {
            position: absolute;
            right: 5px;
            width: 400px;
            height: 170px;
            border: 5px solid #073a5d;
            background-color: #073a5d;
            top: 85px;
        }
        div.f2{
            position: absolute;
           height: 50px;
            width: 1750px;
            right: 8px;
            background-color: #0c2941;
            border: 5px solid #0c2941;
        }
       div.f3{
           position: absolute;
           right: 140px;
           top:20px;
       }
       div.f4{
           border-radius: 25px;
           border: 2px solid #427a72;
           position: absolute;
           height: 300px;
           width: 500px;
           right: 1200px;
           background-color: #1d401d;
           border: 5px solid #0c2941;
           align-content: center;
           top: 120px;
       }
        div.f5{
            border-radius: 25px;
            border: 2px solid #427a72;
            position: absolute;
            height: 300px;
            width: 500px;
            right: 550px;
            background-color: #122540;
            border: 5px solid #0c2941;
            align-content: center;
            top: 120px;
        }
        div.f6{
            border-radius: 25px;
            border: 2px solid #427a72;
            position: absolute;
            height: 300px;
            width: 500px;
            right: 1200px;
            background-color: #62273c;
            border: 5px solid #0c2941;
            align-content: center;
            top: 500px;
        }
        div.f7{
            border-radius: 25px;
            border: 2px solid #427a72;
            position: absolute;
            height: 300px;
            width: 500px;
            right: 550px;
            background-color: #b5a134;
            border: 5px solid #291d2f;
            align-content: center;
            top: 500px;
        }
        div.f8{
            border-radius: 25px;
            border: 2px solid #427a72;
            position: absolute;
            height: 300px;
            width: 500px;
            right: 1200px;
            background-color: #44275a;
            border: 5px solid #0c2941;
            align-content: center;
            top: 900px;
        }

 .f4  a{
     background-color: #e7ecef;

}